<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#aboutme" offset="70" du-smooth-scroll>{{'ABOUT ME'|translate}}</a</li>
        <li><a href="#skills" offset="70" du-smooth-scroll>{{'SKILLS PLANS'|translate}}</a</li>
        <li><a href="#portfolio" offset="50" du-smooth-scroll>{{'PORTFOLIO'|translate}}</a</li>
        <li><a href="#cooperation" offset="50" du-smooth-scroll>{{'COOPERATION'|translate}}</a</li>
        <li><a href="#contact" offset="5" du-smooth-scroll>{{'CONTACT'|translate}}</a</li>
        <li><a href="#header-image" offset="30" du-smooth-scroll><i class="fa fa-arrow-up" aria-hidden="true"></i></a></li>
        <li><change-language></change-language><li>
        <li><change-language-img></change-language-img><li>
 
      </ul>

    </div>
  </div> 
</nav>



<!-- dodanie do folderu navigation pliku navigation.js a w nim definiuje dyrektywe -->