
<div class="container contact" id="contact">
  <div class="row">
      <div class="col-md-6">
      	<div class="row">
      		<div class="contact-me col-md-12">
      		<h2>{{'CONTACT ME!'|translate}}</h2>
      	
      		</div>
      	</div>
      	<div class="row">
	      	<div class="envelope col-md-6">
		      	<p><i class="fa fa-envelope faa-bounce animated-hover faa-fast" aria-hidden="true"></i></p>
		      	<p><a class="my-mail-adress " href="mailto:annakazmierczak2onet.eu" >annakazmierczak@onet.eu</a></p>
	      	</div>
		    <div class="phone col-md-6">
			    <p><i class="fa fa-phone faa-bounce animated-hover faa-fast" aria-hidden="true"></i></p>
			    <p>+48 696-095-844<p>
		    </div>
      	</div>
      <div class="row">
      		<div class="col-md-12">
      			<h3>{{'You can find me here'|translate}}</h3>
      		</div>
      </div>
       <div class="row">
      		<div class="linkedin col-md-6">
      			<p><i class="fa fa-linkedin-square faa-bounce animated-hover faa-fast" aria-hidden="true"></i></p>
      		</div>
      		<div class="github col-md-6">
      			<p><i class="fa fa-github-square faa-bounce animated-hover faa-fast" aria-hidden="true"></i></p>
      		</div>
      </div>
    </div>
    <div class="col-sm-6">
    </div>
   
</div>
</div>
