

<!-- TAKEN FROM: https://codepen.io/sachinchoolur/details/QjLNMM/ -->
<div class="row portfolio" id="portfolio">
<h2>{{'PORTFOLIO'|translate}} </h2>

<!-- http://sachinchoolur.github.io/lightGallery/ -->
 <div class="demo-gallery">
    <ul id="lightgallery">
      <li data-responsive="http://sachinchoolur.github.io/lightGallery/static/img/1-375.jpg 375, http://sachinchoolur.github.io/lightGallery/static/img/1-480.jpg 480, http://sachinchoolur.github.io/lightGallery/static/img/1.jpg 800" data-src="http://sachinchoolur.github.io/lightGallery/static/img/1-1600.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
        <a href="">
          <img class="img-responsive" src="assets/photos/250180.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="http://sachinchoolur.github.io/lightGallery/static/img/2-375.jpg 375, http://sachinchoolur.github.io/lightGallery/static/img/2-480.jpg 480, http://sachinchoolur.github.io/lightGallery/static/img/2.jpg 800" data-src="http://sachinchoolur.github.io/lightGallery/static/img/2-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
        <a href="">
          <img class="img-responsive" src="assets/photos/250180.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="http://sachinchoolur.github.io/lightGallery/static/img/13-375.jpg 375, http://sachinchoolur.github.io/lightGallery/static/img/13-480.jpg 480, http://sachinchoolur.github.io/lightGallery/static/img/13.jpg 800" data-src="http://sachinchoolur.github.io/lightGallery/static/img/13-1600.jpg" data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>">
        <a href="">
          <img class="img-responsive" src="assets/photos/250180.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="http://sachinchoolur.github.io/lightGallery/static/img/4-375.jpg 375, http://sachinchoolur.github.io/lightGallery/static/img/4-480.jpg 480, http://sachinchoolur.github.io/lightGallery/static/img/4.jpg 800" data-src="http://sachinchoolur.github.io/lightGallery/static/img/4-1600.jpg" data-sub-html="<h4>Coniston Calmness</h4><p>Beautiful morning</p>">
        <a href="">
          <img class="img-responsive" src="assets/photos/250180.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
    </ul>
    
  </div>
  </div>

<!-- MY CASE - PORTFOLIO -->

<!--  <p>PORTFOLIO</p>

<div class="demo-gallery-poster" id="lightGallery">
  <a href="assets/photos/100.png">
      <img src="assets/photos/100.png" />
      
  </a> -->
 <!--  <a href="img/img2.jpg">
      <img src="img/thumb2.jpg" />
  </a> -->
  



          <!-- <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="assets/photos/boat.jpg" alt="...">
              <div class="caption">
                <h3>Przykladowa strona</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore...</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Info</a>           
                </p>
              </div>
            </div>
          </div>
           <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="assets/photos/boat.jpg" alt="...">
              <div class="caption">
                <h3>Przykladowa strona</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore...</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Info</a> 
                   
                </p>
              </div>
            </div>
          </div>
           <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="assets/photos/boat.jpg" alt="...">
              <div class="caption">
                <h3>Przykladowa strona</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore...</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Info</a> 
                   
                </p>
              </div>
            </div>
          </div> -->
</div>

